:root{
	--theme_color_bright: rgba(232 243 255);
	--theme_color_dark: rgba(164 208 255);
	--dark_gray: rgba(150,150,150);
	--border_color: rgba(100,200,256,1);
	--bar_height: 50px;
}

* {
    font-family: Avenir, system-ui, sans-serif;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    position: absolute;
    overflow-y: auto;
}

.center {
    min-height: calc(100dvh - var(--bar_height) - 2px);
	height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*overflow:auto;*/
}

div.card {
	overflow: hidden;
    max-width: 500px;
	width: 100%;
    //background-color: #eeeeee;
    /*background: rgba(17,89,109,0.05);*/
    //margin: 20px;
    padding: 10px;
    border-radius: 10px;
    //box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

input{
    width: calc(100% - 14px - 2px);
    margin: 0px;
    //border: 0px;
    margin-top: 5px;
    //margin-bottom: 10px;
    margin-bottom: 5px;
    padding: 7px;
    font-size: 16px;
    //border-radius: 2px;
    //box-shadow: 0px 0px 1px 0.1px rgba(0,0,0,0.9);
    outline: 0;
	
	border: 1px;
	border-style: solid;
	border-color: var(--theme_color_dark);
    border-radius: 5px;
	background-color: rgba(256,256,256);
}
input[type=button]{
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
	margin: 10px 10px 0 0;
    //margin-right: 10px;
    cursor: pointer;
    -webkit-appearance: none;
	color: rgb(0,0,0);
	
	background-color: var(--theme_color_bright);
}
input[type=button]:disabled{
	cursor: default;
}input[type=button]:hover{
	background-color: rgb(255,255,255);
}
textarea{
    width: calc(100% - 14px - 2px);
    min-height: 120px;
    resize: vertical;
    margin: 5px 0px;
    padding: 7px;
    font-size: 16px;
    border-radius: 2px;
    outline: 0;
	border: 1px;
	border-style: solid;
	border-color: var(--theme_color_dark);
    border-radius: 5px;
	background-color: rgba(256,256,256);
}

.descriptor{
	padding-top: 5px;
	font-size: 16px;
}

h1{
	font-size:40px;
	font-weight:normal;
	font-style: italic;
	margin: 10px 0;
}

.bar{
	display: flex;
	justify-content: space-between;
	/*max-height: var(--bar_height);*/
	height: var(--bar_height);
	width: 100%;
	position: sticky;
	top: 0;
	background-color: var(--theme_color_bright);
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: var(--theme_color_dark);
	//padding:5px;
	overflow: hidden;
	z-index: 1;
	overflow-x: scroll;
}
.bar::-webkit-scrollbar {
  display: none;
}

.bar .item{
	display: flex;
	flex-direction: row;
	padding: 10px 10px;
	align-items: center;
}

.bar .item .title{
	max-height: var(--bar_height);
	overflow-y: scroll;
}
.bar .item .title::-webkit-scrollbar {
  display: none;
}

.bar .item_bar{
	display:flex;
	flex-direction:row;
	padding:0
}

a{
    color: inherit;
    text-decoration: inherit;
    width:100%;
    display: block;
	width: fit-content;
	
}

a:hover{
	background-color: rgb(255,255,255);
	
}

.link_list{
	width: 100%;
	margin: 10px 0;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	
	border: 1px;
	border-style: solid;
	border-color: var(--theme_color_dark);
	overflow: hidden;
}

.link_list .item{
	display: flex;
	justify-content:space-between;
	align-items: center;
	width: calc(100% - 20px);
	padding: 10px 10px;
	background-color: var(--theme_color_bright);
}

.link_list a.item:hover{
	background-color: rgba(255,255,255);
}


.box{
	width: calc(100% - 22px);
	margin: 10px 0;
	padding: 10px;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	border: 1px;
	border-style: solid;
	border-color: var(--theme_color_dark);
	background-color: var(--theme_color_bright);
	//overflow: hidden;
	scroll-margin-top: 55px;
}

.white_box{
	border-radius: 10px;
	background-color: rgba(255,255,255,0.8);
	padding: 3px 10px;
	margin: 5px 0;
	border: 1px;
	//border-style: solid;
	border-color: var(--theme_color_dark);
	overflow-x: auto;
}

.rangle::before{
	content: "\27E9";
	margin-right: 10px;
}

.arrow_container{
	display:flex;
	width:fit-content;
	margin-bottom:0;
	overflow: hidden;
	min-width: 52px;
	border-radius: 5px;
	border: 1px;
	border-style: solid;
	border-color: var(--theme_color_dark);
	//background-color: rgba(255,255,255,0.8);
	
}
.arrow_container div{
	font-size:20px;
	padding:0px 7px 3px 7px;
	color: rgba(0,0,0,0.2);
}
.arrow_container a{
	font-size:20px;
	padding:0px 7px 3px 7px;
	min-width: 0px;
}
.arrow_container a:hover{
	background-color: rgba(255,255,255);
}
.arrow_container .left::before{
	content: "<";
}
.arrow_container .right{
	border-width: 0px 0px 0px 1px;
	border-style: solid;
	border-color: var(--theme_color_dark);
	
}
.arrow_container .right::before{
	content: ">";
}


/* Table style*/

table {
  white-space: nowrap;
  margin: 0;
  border: none;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}
table td,
table th {
  border: 0px;
  border-left: 1px solid var(--dark_gray);
  padding: 0.5rem 1rem;
  width: 100px;
  text-wrap:auto;
}
table thead th {
  border-bottom: 1px solid var(--theme_color_dark);
  padding: 3px;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 25vw;
  background: var(--theme_color_bright);
}
table td {
  background: #fff;
  //padding: 4px 5px;
  text-align: center;
}
table .darker td {
  background: rgb(240,240,240);
}
table .darker th {
  background: rgb(240,240,240);
}
table tr .darker {
  background: rgb(240,240,240);
}

table tbody th {
  font-weight: 100;
  font-style: italic;
  text-align: left;
  position: relative;
}
table th:first-child {
  border-left: 0px;
  border-right: 1px solid var(--dark_gray);
}
table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}
table th:nth-child(2) {
  border-left: 0px;
}
table td:nth-child(2) {
  border-left: 0px;
}
table tbody th {
  position: sticky;
  left: 0;
  background: white;
  z-index: 1;
}

caption {
  text-align: left;
  padding: 0.25rem;
  position: sticky;
  left: 0;
}

td a{
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	background: rgba(0,0,0,0);
}
td a:hover{
	background: rgba(0,0,0,0);
}

hr{
	width: 100%;
	border-top: 1px solid var(--theme_color_dark);
}
